.DS_Store
_extensions/sciadv/template.fdb_latexmk
_extensions/sciadv/template.aux
_extensions/sciadv/template.fls
_extensions/sciadv/template.log
_extensions/sciadv/template.out
_extensions/sciadv/template.synctex.gz
